.root {
    -fx-padding: 20;
    -fx-background-color: #F1EFEF;
    -fx-alignment: top-left;
}

.form-container {
    -fx-padding: 30;
    -fx-spacing: 20;
    -fx-background-radius: 4;

}

.combo-box, .date-picker {
    -fx-padding: 3;
    -fx-min-width: 250;
    -fx-max-width: 250;
}

.table-view {
    -fx-pref-width: 600;
}


.button-buscar, .button-guardar, .button-cancelar {
    -fx-font-weight: bold;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-background-radius: 4;
}

.button-cancelar {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #A38F85;
    -fx-text-fill: #A38F85;
}

.button-guardar, .button-buscar {
    -fx-background-color: #A38F85;
    -fx-text-fill: #FFFFFF;
}

.button-cancelar:hover {
    -fx-background-color: #A38F85;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button-guardar:hover,
.button-buscar:hover {
    -fx-background-color: #8E7A6E;
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
