.root-layout {
    -fx-background-color: #F1EFEF;
    -fx-pref-width: 900px;
    -fx-pref-height: 600px;
}

.titulo {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #5e4631;
}

.subtitulo {
    -fx-font-size: 14px;
    -fx-text-fill: #7b6c5d;
    -fx-font-style: italic;
}

.label-form {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: #4A4A4A;
}

.combo-box, .date-picker, .text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #cbb9a5;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-font-size: 13px;
    -fx-padding: 3;
    -fx-min-width: 350px; /* Ancho ajustado para los campos */
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #D3D3D3;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-pref-width: 750px; /* Ancho de la tabla para que coincida con las dos columnas de la forma */
}

.table-view .column-header-background .filler {
    -fx-background-color: #A38F85;
}

.table-view .column-header {
    -fx-background-color: #A38F85;
}

.table-view .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-row-cell:odd {
    -fx-background-color: #f6f6f6;
}

.table-row-cell:even {
    -fx-background-color: #ffffff;
}

.button-primary {
    -fx-background-color: #A38F85;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8px 20px;
    -fx-min-width: 100px;
}

.button-primary:hover {
    -fx-background-color: #8E7A6E;
    -fx-cursor: hand;
}

.button-secondary {
    -fx-background-color: #E2DAD6;
    -fx-text-fill: #5C504A;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-padding: 8px 20px;
    -fx-min-width: 100px;
}

.button-secondary:hover {
    -fx-background-color: #d8c9c0;
    -fx-cursor: hand;
}