/*
 * Hoja de estilos para la vista "Agregar Usuario".
 * Define los estilos para los diferentes componentes de la interfaz.
 */

.root {
    -fx-background-color: #F1EFEF;
}

.titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Un color oscuro para el texto */
}

.subtitulo {
    -fx-font-size: 14px;
    -fx-text-fill: #666666; /* Un color más suave para el subtítulo */
}

.field-label {
    -fx-font-weight: bold; /* Estilo para las etiquetas de los campos */
    -fx-text-fill: #333333; /* Color de texto oscuro para mayor legibilidad */
}

.text-field {
    -fx-pref-width: 250;
    -fx-border-color: #A38F85;
    -fx-border-radius: 5px;
    -fx-background-color: white;
}

.date-picker {
    -fx-pref-width: 250;
    -fx-border-color: #A38F85;
    -fx-border-radius: 5px;
    -fx-background-color: white;
}

.text-area {
    -fx-pref-width: 530;
    -fx-pref-height: 80;
    -fx-border-color: #A38F85;
    -fx-border-radius: 5px;
    -fx-background-color: white;
}

.button-cancelar {
    -fx-background-color: #E2DAD6;
    -fx-text-fill: #5C504A;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button-guardar {
    -fx-background-color: #A38F85;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
