/*/* styles.css */

.sidebar {
    -fx-background-color: #EDE9E3;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: top-center;
    -fx-border-color: #000000;
    -fx-border-width: 0 0 1 0;
}

.logo-label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.nav-button {
    -fx-background-color: EDE9E3;
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: white;
    -fx-cursor: hand;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-pref-width: 150;
    -fx-alignment: CENTER_LEFT;
}

.nav-button:hover {
    -fx-background-color: #CDC6C3;
    -fx-min-width: 150;
    -fx-max-width: 150;
    -fx-pref-width: 150;
    -fx-alignment: CENTER_LEFT;
}

.header {
    -fx-background-color: #A38F85;
    -fx-padding: 10;
    -fx-alignment: center-right;
}

.titulo {
    -fx-font-size: 18px;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.botonLogin {
    -fx-background-color: #726262;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.botonLogin:hover {
    -fx-background-color: #5c4d4d;
}

.card-libro {
    -fx-background-color: #E7D7C9;
    -fx-padding: 10;
    -fx-border-color: #ddd;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0.0, 0, 3);
    -fx-pref-width: 170;
}

.titulo-libro {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-alignment: center;
}






