.root {
    -fx-background-color: #f0f8ff; /* Un color muy claro y diferente */
}

.label {
    -fx-text-fill: #333333; /* Texto oscuro para las etiquetas */
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #b3987f;
    -fx-text-fill: white;
}