.detalle-root {
    -fx-padding: 20;
    -fx-background-color: #ffffff;
    -fx-border-color: #ccc;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.titulo {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}