.modal-libro {
    -fx-background-color: #dcc0a3;
    -fx-border-color: #A38F85;
    -fx-border-width: 1;
    -fx-padding: 10;
    -fx-border-radius: 10;
}

.vbox {
    -fx-background-color: #efeadd;
    -fx-border-radius: 10;
    -fx-padding: 20;
    -fx-spacing: 10;
}

.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 2);
    -fx-border-radius: 5;
}

.titulo-modal {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #5a3e2b;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #3e3e3e;
}

.text-area {
    -fx-background-color: #f9f5f0;
    -fx-border-color: #A38F85;
    -fx-border-radius: 5;
    -fx-padding: 8;
    -fx-font-size: 13px;
    -fx-text-fill: #4a4a4a;
}