/* Estilo general para todos los TextField y ComboBox */
.text-field, .combo-box {
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #ccc;
    -fx-padding: 5 10 5 10;
}

/* Estilo para el TextArea (dirección) */
.text-area {
    -fx-min-width: 1020;
    -fx-max-width: 1020;
    -fx-min-height: 80;
    -fx-max-height: 80;
}

/* Contenedor del campo de contraseña con ícono */
.password-container {

    -fx-spacing: 5;
}

/* Estilo para el PasswordField */
.password-field {
    -fx-pref-width: 250px; /* un poco menos para dejar espacio al ícono */
}

/* Estilo para el ícono del ojo */

.icon-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 0;
    -fx-translate-x: -5;
    -fx-alignment: CENTER_LEFT;
}

.eye-icon {
    -fx-icon-size: 16px;
    -fx-icon-color: #5C504A;
}
