.root {
    -fx-font-family: "Segoe UI", sans-serif;
}

.login-box {
    -fx-background-color: #EDE9E3;
    -fx-padding: 20;
    -fx-alignment: center;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-min-width: 300;
    -fx-max-width: 300;
    -fx-min-height: 400;
    -fx-max-height: 400;


}

.login-title {
    -fx-font-size: 18px;
    -fx-text-fill: #8c6d5d;
}

.login-logo {
    -fx-arrows-visible: #E7D7C9;
}

.login-input {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 5;
    -fx-padding: 8;
}

.login-button {
    -fx-background-color: #D09C8B;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-padding: 10 20;
}
.login-button:hover{
    -fx-background-color: #ea8d89;
}
.circle-color {
    -fx-fill: #E7D7C9;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-padding: 0 8 0 0;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}