.button {
    -fx-background-color: #A38F85;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.text-field, .password-field {
    -fx-background-radius: 3;
    -fx-border-color: #A38F85;
    -fx-border-radius: 3;
}
