/*
 * Hoja de estilos para la vista "Ver Usuario".
 * Sigue el estilo general de la aplicación.
 */

.root {
    -fx-background-color: #F1EFEF;
}

.titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.subtitulo {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

.field-label {
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.text-field, .date-picker > .text-field {
    -fx-background-color: #E6E0DA;
    -fx-border-color: #A38F85;
    -fx-border-radius: 5px;
    -fx-font-weight: normal;
    -fx-pref-width: 250;
    -fx-text-fill: #5C504A;

}

.date-picker {
    -fx-background-color: #E6E0DA;
    -fx-border-color: #A38F85;
    -fx-border-radius: 5px;
}

.text-area {
    -fx-background-color: #E6E0DA;
    -fx-border-color: #A38F85;
    -fx-border-radius: 5px;
    -fx-font-weight: bold;
    -fx-pref-width: 530;
    -fx-pref-height: 80;
}

.button-guardar {
    -fx-background-color: #A38F85;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
