
.button-guardar, .button-buscar {
    -fx-background-color: #A38F85;
    -fx-text-fill: #FFFFFF;
}


.button-guardar:hover,
.button-buscar:hover {
    -fx-background-color: #8E7A6E;
    -fx-cursor: hand;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.text-area {
    -fx-min-width: 1020;
    -fx-max-width: 1020;
    -fx-background-color: #C7C7C7;
}