.root-layout {
    -fx-background-color: #F1EFEF;
    -fx-pref-width: 900px;
    -fx-pref-height: 600px;
}

.titulo {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #5e4631;
}

.subtitulo {
    -fx-font-size: 14px;
    -fx-text-fill: #7b6c5d;
    -fx-font-style: italic;
}

/* Estilo para los campos de texto, que en este caso no son editables */
.text-field {
    -fx-background-color: #E2DAD6;
    -fx-border-color: #A38F85;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-padding: 8px 10px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-text-fill: #5C504A; /* Color del texto para que se vea bien en el fondo gris */
    -fx-min-width: 350px; /* Ancho ajustado para los campos */
}


/* Estilo para el botón de "Cerrar" */
.button {
    -fx-background-color: #A38F85;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #8D7A70;
}
